@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 192, 203,0.3);
    position: fixed;
    z-index: 1; 

}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}
#canvas{
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  z-index: -1;
  width: 100vw;
  height:100vh;
}
.background{
    object-fit: cover;
    position: fixed;
    opacity:0.45;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.zcool-kuaile-regular {
  font-family: "ZCOOL KuaiLe", serif;
  font-weight: 400;
  font-style: normal;
}
.boxText{
  width: 70vw;
  height:15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  margin-bottom: 2em;
  
}
.boxText p{
  text-align: center;
  margin: 0;
}
.boxText > p{
  opacity: 0;

  animation: fade-in 0.75s ease-in forwards;
}
.boxText > p + p {
  opacity: 0;
  animation: fade-in 0.75s 0.75s ease-in forwards;
}
.boxText > p + p + p{
  opacity: 0;
  animation: fade-in 0.75s 2.5s ease-in forwards;
}

.box{
  width:10vw;
  height:10vw;
  position: fixed;
  bottom:20vh;
}
.box.bigger{
  animation: grow 0.35s ease-in-out forwards;
}
.box img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.particles{
  position: fixed;
  width: 10vw;
  height: 10vw;
  display: none;
}
.particles img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.roses{
  position: fixed;
  width: 5vw;
  height: 5vw;
  transition: display 0.5s ease-in;
  display: none;
}
.roses.animate{
  animation: fade-in 0.5s ease-in forwards;
}
.roses img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes grow{
  0%{
    transform:scale(1)
  }
  65%{
    transform:scale(1.25);
  }
  100%{
    transform: scale(1.2);
  }
}


/* Mobile versions*/

@media screen and (max-width:900px) {

  .boxText{
    width: 70vw;
    height:20vw;   
    font-size: 1.5em;
    word-wrap: break-word;
  }
  .box{
    width:20vw;
   height:20vw;
  }
}

@media screen and (max-width:600px) {
  .background{
    object-fit: contain;
  }
  .boxText{
    width: 70vw;
    height:20vw;   
    font-size: 1.2em;
    word-wrap: break-word;
  }
  .box{
    margin-top: 1em;
    width:20vw;
    height:20vw;
  }
}

@media screen and (max-width:400px) {
  .background{
    object-fit: contain;
  }
  .boxText{
    width: 70vw;
    height:20vw;   
    font-size: 1.2em;
    word-wrap: break-word;
  }
  .box{
    margin-top: 1em;
    width:20vw;
    height:20vw;
  }
}